
# Created by https://www.gitignore.io/api/macos
# Edit at https://www.gitignore.io/?templates=macos

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Temp files
*.swp
*.swo
.cache/
tmp/
scratch/

# Windows
*.dll
*.exe

# Python
__pycache__/
*.pyc
*.pkl
.mypy_cache/
/venv/
.coverage
.ipynb_checkpoints
pip-wheel-metadata/

# OSX
.DS_Store*
Thumbs.db
Icon?
.Trashes

# Office Temp Files
~$*

# Latex
*.aux
*.bbl
*.bcf
*.blg
*.run.xml
*.synctex.gz
*.toc
*.nav
*.snm
*.vrb

# End of https://www.gitignore.io/api/macos
