#!/usr/bin/env bash

# add ~/bin to path
PATH=/usr/bin:/bin:/usr/sbin:/sbin
export PATH
PATH=/usr/local/bin:/usr/local/sbin:"$PATH"
PATH=/opt/local/bin:/opt/local/sbin:"$PATH"

# prefer US English & utf-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty)

# brew
PATH=$PATH:/opt/homebrew/bin

# configure ruby
if [ -d "/opt/homebrew/opt/ruby/bin" ]; then
    export PATH=/opt/homebrew/opt/ruby/bin:$PATH
    export PATH=$(gem environment gemdir)/bin:$PATH
fi
source $(dirname $(gem which colorls))/tab_complete.sh

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8'

# go
export PATH="$HOME/go/bin:$PATH"

# npm global
export NPM_PACKAGES="/usr/local/npm_packages"
export NODE_PATH="$NPM_PACKAGES/lib/node_modules:$NODE_PATH"
export PATH="$NPM_PACKAGES/bin:$PATH"

# yarn
export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH"

# fzf
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
export FZF_DEFAULT_COMMAND='rg --files --hidden --follow --smart-case --glob "!.git/*" --glob "!node_modules/*"'

# latex
# export PATH="usr/local/bin/latexmk/:$PATH"
# export PATH="/usr/local/texlive/2023/bin/:$PATH"
export PATH=$PATH:/usr/local/texlive/2023/bin/universal-darwin

# R compilers
export PATH=$PATH:/opt/R/arm64/gfortran/bin

# depot tools
export PATH=$PATH:$HOME/depot_tools

# android
export ANDROID_HOME=$HOME/Library/Android/sdk
export PATH=$ANDROID_HOME/emulator:$PATH
export PATH=$ANDROID_HOME/tools:$PATH
export PATH=$ANDROID_HOME/tools/bin:$PATH
export PATH=$ANDROID_HOME/platform-tools:$PATH

# ripgrep
export RIPGREP_CONFIG_PATH=$HOME/.rgrc

# conda
export PATH="/usr/local/miniconda3/bin:$PATH"

# linux utils
export PATH="/usr/local/opt/util-linux/bin:$PATH"
export PATH="/usr/local/opt/util-linux/sbin:$PATH"

# pyenv
export PYENV_SHELL=zsh
command pyenv rehash 2>/dev/null

# direnv
eval "$(direnv hook zsh)"
